doctype html
html(lang="cn")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", cotent="IE=edge,chrome=1")
    link(rel="stylesheet", href="stylesheets/style.css")
    title 观影秘笈
  body
    #fullpage
      .section
        .slide#s1(data-anchor='page1')
          #movies1.scene
            img.bgimg(src='images/1.jpg')
            #sf.txt
            #byydwl.txt
            img.arrow(src='images/arrow.png')
        .slide#s2(data-anchor='page2')
          #movies2.scene
            img#s2bg.bgimg(src='images/2.jpg')
            //- #s2-1.pic2
            //- //- #s2-3.pic1
            //- #s2-2.txt
            .info 《寻龙诀》改编自畅销网络文学《鬼吹灯》，导演乌尔善透露电影从原著结尾的“金盆洗手”讲起。至于为什么摸金校尉要重出江湖，陈坤直言都是为了Baby，但“罪魁祸首”还是黄渤，为此还惹片中的“女友”舒淇吃醋揶揄，令他十分为难。
            //- canvas#s2-canvas(width='611', height='348')
        .slide#s3(data-anchor='page3')
          #movies3.scene
            img#s3bg.bgimg(src='images/3.jpg')
            //- #s3-2.pic2
            //- #s3-1.txt
            .info 原著天下霸唱在采访时表示过绝对不会当编剧，但是被导演诱骗他当了顾问后，结果后来天天一起开会，被生生磨成了一个编剧。但天下霸唱表示对影片很满意，打120分，天下霸唱如此，灯粉们自然非常期待影片。
            //- canvas#s3-canvas(width='503', height='503')
        .slide#s4(data-anchor='page4')
          #movies4.scene
            img#s4bg.bgimg(src='images/4.jpg')
            //- #s4-1.pic2
            //- #s4-2.txt
            //- canvas#s4-canvas(width='612', height='500')
            .info 摸金校尉是中国古代一个盗墓者的门派，起源于东汉末年三国时期，当时魏军的领袖曹操为了弥补军饷的不足，设立摸金校尉军衔，专司盗墓取财，贴补军用。电影中的胡八一、王凯旋和Shirley杨即为摸金校尉，祖师爷就是曹操了。
        .slide#s5(data-anchor='page5')
          #movies5.scene
            img#s5bg.bgimg(src='images/5.jpg')
            //- #s5-1.pic2
            //- #s5-2.txt
            //- #s5-3.txt
            .info 盗墓中最刺激好玩的莫过于打粽子了，粽子是盗墓行业特有的一个暗语，实指墓穴中那些保存比较完整，没有怎么腐烂的死尸，而僵尸则被称为大粽子。为什么偏偏叫粽子？因为包粽子使用的树叶有点像裹尸布，所以盗墓者们以此来代指实物。
            //- canvas#s5-canvas(width='570', height='475')
        .slide#s6(data-anchor='page6')
          #movies6.scene
            img#s6bg.bgimg(src='images/6.jpg')
            //- #s6-1.pic1
            //- #s6-2.pic1
            //- #s6-3.txt
            .info 原著中出现过的盗墓工具，工兵铲、飞虎爪、金刚伞、罗盘、黑驴蹄子，代表着盗墓身份的摸金符在影片中都有出现，并且对剧情影像很大，原著粉们看了一定会嗨，非原著粉看了定会大开眼界呀。
            //- canvas#s6-canvas(width='500', height='353')
        .slide#s7(data-anchor='page7')
          #movies7.scene
            img#s7bg.bgimg(src='images/7.jpg')
            //- #s7-1.txt
            //- #s7-2.pic1
            .info 除了原著中提及的情节和元素，电影中添加的最大一个因素便是彼岸花了，反复提到的千年宝物“彼岸花”，是“契丹公主奥古的标志”，“能够穿越阴阳两界，让人死而复生”的奇幻面目。导演透露，对胡八一和王凯旋来说，找到彼岸花的意义在于能看到他们当年失去的那个爱人。
            //- canvas#s7-canvas(width='485', height='501')
        .slide#s8(data-anchor='page8')
          #movies8.scene
            img#s8bg.bgimg(src='images/8.jpg')
            //- #s8-1.pic1
            //- #s8-2.txt
            .info 刘晓庆在片中饰演终极反派，电影里本来有一段她勾引陈坤的戏，虽然没有成功，但是很有意思，可惜后来因为片长的问题被剪掉了（但这段你可以尽情脑洞）。
            //- canvas#s8-canvas(width='485', height='501')
        .slide#s9(data-anchor='page9')
          #movies9.scene
            img#s9bg.bgimg(src='images/9.jpg')
            //- #bg9
            //- #s9-1.pic1
            //- #s9-2.pic1
            //- #s9-3.pic1
            .info 广电总局规定电影不能拍“鬼”，片名也不能带“鬼”字，最后才定下叫《寻龙诀》。也为了规避审查，导演机智的让反派给主角一个盗墓的理由——片中是刘晓庆饰演的反派去盗墓，陈坤、黄渤和舒淇三位主角都是被强迫而去的(当然摸金三人组又会变被动为主动的）。
            //- canvas#s9-canvas(width='575', height='437')
            // 左上角页数icon
        .head-icon#head-icon(style='display:none;')
          span.num#num
    #mask(style='display:none;')
      #mask_bg
      #mask_container
        img.share1(src='images/share1.png', style='display:none;')
      #mask_info
        h2 观影秘笈已成功Get!
        a.button_buy#ticket(href='javascript:;') 立即购票
        a.button_share#share(href="javascript:;") 分享到朋友圈
    // 设备方向
    div.orientation_set
      div
        img(src="images/orientation.png")
        span 请将屏幕竖向浏览
    // loading
    div.mask_loading
      div.loading
        //- img.icon-loading(src="images/loading.gif")
        i.text-loading loading...
        i.icon-porcess(style='color:white;text-align:center;display:block;')
    // 引入滑屏插件fullPage(依赖jQuery)
    script(type="text/javascript", src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    //- script#scrollscript
    //- script.
    //-   if(navigator.userAgent.indexOf('iPhone') === -1) {
    //-     document.getElementById('scrollscript').src = 'javascripts/jquery.slimscroll.js';
    //-   }
    script(type="text/javascript", src="javascripts/jquery.slimscroll.js")
    script(type="text/javascript", src="//cdn.bootcss.com/fullPage.js/2.7.6/jquery.fullPage.min.js")
    // 主js文件
    script(type="text/javascript", src="javascripts/main.js")
    script(type="text/javascript", src="javascripts/wxall.js")
    script.
      //google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58583546-8', 'auto');
      ga('send', 'pageview');
