doctype html
html
    head
        // meta
        include ./pagelets/head/meta.jade
        block meta
        // 标题
        block title
            title XX活动
        // 默认样式
        include ./pagelets/head/style.jade
        block style
        // 默认脚本
        include ./pagelets/head/headscript.jade
        block headscript
    body
        block content
