/*-------public css start--- */
sub, sup {
  line-height: 0; }

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0; }

img
table {
  border-spacing: 0;
  border-collapse: collapse; }

fieldset, img {
  border: 0; }

input, textarea {
  outline-style: none; }

textarea {
  resize: none; }

address, caption, cite, code, dfn, em, i, th, var {
  font-weight: normal;
  font-style: normal; }
body { -webkit-overflow-scrolling:touch;}
html,body {
  font-size: 62.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  width:100%;
  height: 100%;
  overflow-x:hidden; 
   }

img {
  width: 100%; }
.mask_loading{position:fixed;
    z-index:999;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image:url('../images/bg.jpg');
    background-repeat:repeat-y;
    background-position:top center;
    background-size:100%;
    background-color:#F5F3E6;
}
/*.mask-loading,.loading{background-color:#fff}*/
.loading{
    position:absolute;
    top:26%;
    left:50%;
    -webkit-transform:translateX(-50%);
    width:24%;
    height:100%;
    text-align: center;
}
.icon-loading{
    width:100%;
}
.icon-process{
    font-size: 1rem;
    color: #A9A595;
    margin-top: 0.5rem;
    display: block;
}
.orientation_set {
  display: none; }

@media screen and (orientation: landscape) {
  .orientation_set {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #F3E8C8;
    text-align: center;
    display: -webkit-box;
    -weibit-box-pack: center;
    -webkit-box-align: center;
    z-index: 9999;
    font-size: 14px;
    line-height: 2em;
    font-family: "Microsoft YaHei"; }

  @-webkit-keyframes zhuan {
    0% {
      -webkit-transform: rotate(0deg);
      opacity: 1; }
    50% {
      -webkit-transform: rotate(-90deg);
      opacity: 1; }
    100% {
      -webkit-transform: rotate(0deg);
      opacity: 1; } }
  .orientation_set img {
    display: inline-block;
    -webkit-animation: zhuan 1.5s 0.3s infinite; }

  .orientation_set > div {
    width: 20%;
    margin: 0 auto;
  }
}
a{
  -webkit-tap-highlight-color: transparent; }

/*-------public css end--- */



